/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins:wght@200&display=swap");

/* HTML */

* {
  box-sizing: border-box;
}

body,
html {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  width: 100%;
}

/* NAV BAR */

.nav-main {
  height: 70px;
  width: 100%;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
}
#nav-logo {
  height: 50px;
  width: auto;
  padding: 10px;
  margin-bottom: 20px;
  float: left;
  margin-left: 25px;
  margin-top: 20px;
}
#nav-insta {
  height: 32px;
  width: auto;
  float: right;
}
#nav-mail {
  height: 32px;
  width: auto;
  float: right;
  margin-right: 7px;
}
#nav-github {
  height: 32px;
  width: auto;
  float: right;
  margin-right: 7px;
}
#nav-linkedin {
  height: 32px;
  width: auto;
  float: right;
  margin-right: 7px;
}
.nav-icons {
  padding: 20px;
  margin-right: 30px;
}

/* BIG NAME */

.big-name-div {
  position: relative;
  color: white;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  font-size: 70px;
  letter-spacing: 3px;
  overflow: hidden;
  border-right: 3px solid hsl(0, 0%, 80%);
  white-space: nowrap;
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms infinite;
  margin-top: 210px;
  margin-left: 170px;
  width: 600px;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 580px;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: hsl(0, 0%, 80%);
  }
  to {
    border-right-color: transparent;
  }
}

/* INFO ABOUT ME BELOW MY NAME */

.info-div {
  color: white;
  font-size: 18.5px;
  font-family: "Poppins", sans-serif;
  margin-left: 170px;
  margin-top: 40px;
  width: 40%;
}

/* LANGUAGE ICONS */

.info-container {
  display: flex;
  height: 32px;
  width: 300px;
  justify-content: space-between;
  margin-left: 40px;
}

/* COPYRIGHT */
#copyright {
  font-size: 10px;
  margin-left: 2px;
  margin-top: 20px;
  font-weight: bold;
  color: white;
}

/* OPENLY HOSTED */

#openly-hosted {
  font-size: 10px;
  margin-left: 2px;
  margin-top: 2px;
  color: white;
}

/* FOOTER */

.footer {
  float: right;
  margin-right: 20px;
}

button {
  background-color: transparent;
  border: none;
  color: white;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: gray;
}
